.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 62px;
  font-family: "satoshi";
  margin-bottom: 2rem;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer > input {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 77rem;
  height: 52px;
  padding: 16px 24px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 9px 20px 0px rgba(132, 132, 132, 0.2);
  color: #130c2a;
  position: relative;
}

input::placeholder {
  color: #130c2a;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.5;
}

.button {
  background: #5d3be9;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 54px;
  height: 14px;
  padding: 16px 24px;
  border-radius: 20px;
  border: none;
  position: absolute;
  right: 10rem;
  top: 17rem;
}

.guide {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 1236px;
  height: 182px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.04);
  background-color: #7c84930d;
}

.guideBTN {
  width: 166px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 12px;
  border-radius: 15px;
  color: #5d3be9;
  border: 1px solid #5d3be9;
  cursor: pointer;
}

.guideBTN:hover {
  background-color: #5d3be9;
  color: white;
}

.guideBTN img {
  width: 10px;
  height: 10px;
  margin-right: 8px;
  cursor: pointer;
}

#guide {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #130c2a;
}

#guide1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #130c2a;
}

.explore {
  margin-top: -5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.exploreLIST h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  color: #130c2a;
}

.LIST {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.adventure1 {
  background-image: url(../../../assets/images/surfing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 374px;
  height: 450px;
  border-radius: 48px;
}

.adventure2 {
  background-image: url(../../../assets/images/lake.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 374px;
  height: 450px;
  border-radius: 48px;
}
.adventure3 {
  background-image: url(../../../assets/images/ballon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  width: 374px;
  height: 450px;
  border-radius: 48px;
}

.adventure1 p {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  padding-top: 330px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.adventure2 p {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  padding-top: 330px;
  display: flex;
  justify-content: center;
}

.adventure3 p {
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
  color: #ffffff;
  padding-top: 330px;
  display: flex;
  justify-content: center;
}

.tripPlan {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tripPlan1 {
  background-image: url(../../../assets/images/greenframe.png);
  width: 1281px;
  height: 90%;
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 48px;
}

.tripPlan1 > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#trips {
  font-family: "Satoshi";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #130c2a;
  margin: 0;
}

#trips1 {
  font-family: "Satoshi";
  font-size: 24px;
  line-height: 32px;
}

#trips1 > #slink {
  color: #028000;
}

.tripsBTN {
  background-color: #5d3be9;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 198px;
  height: 56px;
  gap: 1rem;
  font-family: "Satoshi";
  font-size: 18px;
  border-radius: 20px;
}

.tripsBTN:hover {
  background-color: transparent;
  border: 2px solid green;
  color: green;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .adventure1,
  .adventure2,
  .adventure3 {
    width: 312px;
  }

  .adventure1 > p,
  .adventure2 > p,
  .adventure3 > p {
    font-size: 31px;
    padding-top: 370px;
  }

  .exploreLIST > h1 {
    font-size: 22px;
    text-align: center;
  }

  .guide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 181px;
    gap: 20px;
  }

  .guideText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .guideBTN {
    width: 99px;
    font-size: 10px;
  }

  .tripPlan {
    width: 100%;
    flex-direction: column;
  }

  .tripPlan1 > div {
    flex-direction: column;
    gap: 30px;
  }

  .tripPlan1 {
    flex-direction: column;
    width: 342px;
  }

  #trips {
    font-size: 20px;
    text-align: center;
    line-height: 28px;
  }

  .tripsBTN {
    width: 170px;
    height: 48px;
    border-radius: 20px;
  }

  #trips1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    line-height: 32px;
  }
}
