.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-family: "satoshi";
}

.paymentCard {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: 0;
  gap: 24px;
}

.paymentCard1 {
  width: 145px;
  height: 83.87px;
  padding: 10.17px 20.52px ;
  border-radius: 7.11px 0px 0px 0px;
  background: #5d3be9;
}

.paymentCard1 p{
font-size: 14px;
font-weight: 800;
line-height: 21.38px;
text-align: left;
color: #130C2A;
}

.paymentCard2 p{
font-size: 14px;
font-weight: 800;
line-height: 21.38px;
text-align: left;
color: #130C2A;
}

.paymentCard2 {
  width: 145px;
  height: 83.87px;
  padding: 10.17px 20.52px ;
  border-radius: 7.11px 0px 0px 0px;
  box-shadow: 0px 1.42px 3.98px 0px #84848480;
}

.payIcons{
      margin-right: 10px;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 505.38px;
  height: 578.44px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

  top: 539px;
  left: 835px;
  border-radius: 7.11px 0px 0px 0px;
}

#modalh2 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 22.91px;
  text-align: center;
  color: #313131;
}

.formGroup {
  text-align: left;
  margin-left: 26px;
  margin-bottom: 15px;
  width: 438px;
  height: 83px;
  margin-top: 16px;
  gap: 8px;
}

.formGroup p {
  display: block;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #101928;
  position: relative;
  top: 16px;
}

.formGroup input {
  width: 408px;
  height: 36px;
  padding: 16px;
  padding-top: 10px;
  gap: 12px;
  border-radius: 6px;
  border: 1px;
  border: 1px solid #d0d5dd;
}

.formGroup select{
  width: 440px;
  height: 66px;
  padding: 16px;
  padding-top: 10px;
  margin-top: 30px;
  gap: 12px;
  border-radius: 6px;
  border: 1px;
  border: 1px solid #d0d5dd;
}

#cryptoPaymen{
  margin-top: 50px;
}

.formGroup1{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 41px;
      position: relative;
      bottom: 12px;
}
.payment{
      width: 198px;
height: 84p;
gap: 4px;
opacity: 0px;
text-align: left;
margin-right: 10px;
}

.payment label{
      background-color: #c82333;
      margin-right: 60px;
}

.payment input{
      width: 166px;
height: 36px;
padding: 16px ;
gap: 12px;
border-radius: 6px ;
border: 1px ;
border: 1px solid #D0D5DD;
/* margin-top: 20px; */
}

.formGroup1 p{
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #101928;
position: relative;
  top: 16px;
}

.payBTN{
      display: flex;
      justify-content: center;
      align-items: center;
}

.payButton {
  width: 363.44px;
height: 43.43px;
padding: 12.22px 18.32px 12.22px 18.32px;
border-radius: 15.27px ;
background: #5D3BE9;
color: #ffffff;
border: none;
cursor: pointer;
}

.payButton:hover {
  background-color: #218838;
}

#closeBTN{
  display: flex;
      justify-content: center;
      align-items: center;
}

.closeButton {
  background-color: #dc3545;
margin-top: 5px;
  width: 363.44px;
height: 43.43px;
padding: 12.22px 18.32px 12.22px 18.32px;
border-radius: 15.27px ;
color: #ffffff;
border: none;
cursor: pointer;
}

.closeButton:hover {
  background-color: #c82333;
}
