#testimonial {
  background: #fbf0ff;
  font-family: "Satoshi", sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 100px 102px;
  display: flex;
  justify-content: center;
}

.Testimonial {
  width: 1236px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#testicol {
  font-size: 20px;
  font-weight: 500;
  color: #5d3be9;
  font-family: "Satoshi";
  margin: 0;
}

.trust {
  font-family: "Satoshi";
  font-size: 48px;
  font-weight: 700;
  color: #130c2a;
  margin: 0;
}

.TestCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  width: 64px;
  height: 64px;
}

.stars {
  display: block;
  width: 96px;
  height: 24px;
}

.TestCards {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 324px;
  height: 168px;
  padding: 12px 24px;
  gap: 16px;
  border-radius: 8px;
  background: #FEFEFE;
}

.testCardContainer, .testCardContainer1, .testCardContainer2 {
  width: 364px;
  height: 292px;
  display: flex;
  align-items: flex-end;
  border-radius: 8px;
}

.testCardContainer {
  background-image: url("../../../assets/images/features/testimonial.png");
}

.testCardContainer1 {
  background-image: url("../../../assets/images/features/testimonial2.png");
}

.testCardContainer2 {
  background-image: url("../../../assets/images/features/testimonial3.png");
}

.content {
  font-family: 'Satoshi';
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #130c2a;
}

.testiName {
  font-size: 16px;
  font-weight: 500;
  color: #130c2a;
}

.review {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

@media screen and (max-width: 600px) {
  #testimonial {
    width: 100%;
  }

  .TestCard {
    flex-direction: column;
    gap: 1rem;
    width: 335px;
  }

  .trust {
    font-size: 32px;
  }
}