#testimonial {
  background: #fbf0ff;
  font-family: "Satoshi", sans-serif;
  width: 100%;
  box-sizing: border-box;
  padding: 100px 102px;
  display: flex;
  justify-content: center;
}

.Testimonial {
  width: 1236px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

#testicol {
  font-size: 20px;
  font-weight: 500;
  color: #5d3be9;
  font-family: "Satoshi";
  margin: 0;
}

.trust {
  font-family: "Satoshi";
  font-size: 48px;
  font-weight: 700;
  color: #130c2a;
  margin: 0;
}

.TestCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.images {
  width: 128px;
  height: 128px;
}

.stars {
  display: block;
  width: 96px;
  height: 24px;
}

.TestCards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 332px;
  height: 192px;
  padding: 24px 20px;
  gap: 16px;
  border-radius: 8px;
  background: #e0e0e080;
}

.content {
  font-size: 16px;
  font-weight: 500;
  color: #130c2a;
}

.testiName {
  font-size: 16px;
  font-weight: 500;
  color: #130c2a;
  position: relative;
  bottom: 10px;
}

.review {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  #testimonial {
    width: 100%;
  }

  .TestCard {
    flex-direction: column;
    gap: 1rem;
    width: 342px;
  }

  .trust {
    font-size: 32px;
  }
}