.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "satoshi";
}

.containerRental {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.containerRentals {
  justify-content: center;
  align-items: center;
  width: 205px;
  height: 56px;
  padding: 4px 10px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #7c8493;
}
.containerRentals1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 173px;
  height: 56px;
  padding: 4px 10px;
  gap: 14px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #7c8493;
}
.containerRentals2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 193px;
  height: 56px;
  padding: 4px 10px;
  gap: 14px;
  border-radius: 10px;
  border: 1px;
  border: 1px solid #7c8493;
}

.containerCalender {
  display: flex;
}

.containerCalender img {
  width: 24px;
  height: 26px;
  top: 2px;
  left: 3px;
  border: 2px;
  margin-right: 20px;
  margin-top: 30px;
}

.containerCalender p {
  margin-top: 20px;
}

#leavingInput{
  width: 196px;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  outline: none;
  color: #130c2a;
  text-align: center;
  border: none;
}

.containerDate {
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
}

.BTN {
  width: 144px;
  height: 56px;
  padding: 16px 24px;
  gap: 0px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #5d3be9;
  border: none;
  margin-top: 6px;
}

.datepicker {
  width: 80px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 8px;
}

.datepicker::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.datepicker2 {
  width: 105px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-right: 8px;
}

.datepicker2::placeholder {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.datepicker2 img {
  position: relative;
  right: 40px;
}

#date1 {
  border: none;
  outline: none;
  margin-left: 15px;
  margin-top: 12px;
}

#date2 {
  margin-top: 12px;
  margin-left: 15px;
}

.containerImage {
  margin-right: 14px;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 28px;
  margin-top: 40px;
  margin-right: 36px;
}

.sectionContainer1 {
  width: 298px;
  height: 729px;
  gap: 62px;
  box-shadow: 0px 2px 5.6px 0px #84848480;
}

.sectionFilter {
  width: 260px;
  height: 68px;
  padding: 10px 20px;
  gap: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 800;
  line-height: 28px;
  background: #ececec;
  color: #101928;
border-radius: 10px ;
display: flex;
align-items: center;
}

.sectionCategory {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #101928;
  position: relative;
  top: 10px;
  padding: 10px 20px;
}

.carSeat {
  width: 248px;
  /* height: 52px; */
  padding: 16px;
  margin-left: 8px;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  border-radius: 6px;
  border: 1px solid #d0d5dd;
  margin-top: 20px;
}

#popular {
  font-size: 17.86px;
  font-weight: 500;
  line-height: 41.44px;
  letter-spacing: 0.1339694708585739px;
  margin-top: 20px;
  padding: 10px 20px;
}

.sectionContainer2 {
  width: 52rem;
  height: 100hv;
  gap: 38px;
  margin-bottom: 50px;
}

.sectionFilter1 {
  width: 50rem;
height: 68px;
  padding: 12px 20px;
  gap: 425px;
  border-radius: 10px;
  background: #ececec;
  font-size: 20px;
  font-weight: 900;
  line-height: 36px;
  text-align: left;
  color: #5d3be9;
  display: flex;
  align-items: center;
}

.sectionDetailsinfos{
  display: flex;
}

.sectionDetailsinfos img{
  padding-right: 6px;
}

.sectionContainerDetails {
  display: flex;
  width: 51rem;
  height: 11rem;
  padding: 20px 15px;
  gap: 24px;
  box-shadow: 0px 0px 30px 0px #84848440;
}

.rentalNaira {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-align: left;
  color: #130c2a;
  position: relative;
  bottom: 20px;
}

.sectionContainerDetails2 h2 {
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  text-align: left;
  color: #130c2a;
  margin-bottom: 40px;
}

.sectionContainerDetails2{
  margin-bottom: 50px;
}

.sectionDetails {
  display: flex;
  width: 25rem;
  gap: 28px;
  position: relative;
  bottom: 30px;
}

.sectionDetails p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #130c2a;
}

.sectionBTN {
  width: 125px;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  background: #5d3be9;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  margin-top: 70px;
  cursor: pointer;
}

#car2 {
  width: 220px;
  height: auto;
  margin-top: 10px;
}

.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.loaderImage {
  width: 100px;
  height: 100px;
  animation: rotateClockwise 2.5s linear infinite;
}

@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.skipBtn{
  width: 404px;
height: 46px;
padding: 16px 24px;
border-radius: 20px;
margin-bottom: 40px;
background: #5D3BE9;
color: #ffffff;
border: none;
cursor: pointer;
}

#skipBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}