 .ItinearyHome {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Satoshi";
  margin-top: 8rem;
}

.enuguCity {
  background-image: url(../../assets/images/enuguLogo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;

  width: 1240px;
}

.coalCity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #130c2a;
  width: 613px;
  height: 158px;
  margin-top: 370px;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
}

.itinearyExplore{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center; 
      width: 240px;
justify-content: space-between;
}

.itinearyCards{
       display: flex;
      gap: 14px; 
}

h1{
font-size: 32px;
font-weight: 900;
line-height: 40px;
color: #130C2A;
}

.rentals{
 justify-content: center;
 align-items: center;
}

.rentals h3{
font-size: 32px;
font-weight: 900;
line-height: 40px;
text-align: center;
color: #130C2A;
}

.rentals p{
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.rentalsCards{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rentalsCardsinfos{
  display: flex;
}

.rentalsCardsBTN{
  background: #5D3BE9;
  width: 140px;
height: 44px;
top: 1645px;
left: 1199px;
padding: 12px 20px ;
border-radius: 20px;
border: none;
color: #ffffff;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: left;

}

.reservation{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 500px;
}

.reservation h4{
font-size: 32px;
font-weight: 900;
line-height: 40px;
color: #130C2A;
}

.reservation time{
font-size: 18px;
font-weight: 700;
line-height: 24px;
color: #130C2A;
}

.itinearyReservations{
  display: flex;
}

.ItinearyNote {
  width: 809px;
  top: 2072px;
  left: 102px;
  border: 1px;
  opacity: 0.1px;
}

.ItinearyNote input::placeholder{
font-size: 20px;
font-weight: 500;
line-height: 24px;
}

.ItinearyNote p{
font-size: 24px;
font-weight: 900;
line-height: 30px;
margin-right: 30px;
margin-bottom: 20px;
}

.BTN{
  width: 132px;
height: 36px;
padding: 8px 12px ;
border-radius: 15px ;
background: #5D3BE9;
color: #ffffff;
border: none;
margin-top: 40px;
}

.lodging{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 820px;
height: 205px;
margin-top: 50px;
border-radius: 24px ;
background: #9BECC3;
}

.lodgingBTN{
  width:152px;
height: 44px;
top: 119px;
left: 63px;
padding: 12px 20px;
gap: 0px;
border-radius: 20px ;
background: #5D3BE9;
color: #ffffff;
border: none;
}

#lodge{
font-size: 18px;
font-weight: 700;
line-height: 24px;
color: #130C2A;
}

#hotels{
font-size: 16px;
font-weight: 400;
line-height: 20px;
color: #130C2A;
} 

.SelectionDetails{
  display: flex;
}

.deleteButton{
  width: 80px;
height: 92px;
padding: 15px 25px ;
border-radius: 25px;
background: #F5F6F7;
border: none;
margin-left: 20px;
}

.Details{
  display: flex;
  gap: 18px;
}

.DetailsH3{
  width: 302px;
  height: 50px;
  top: 2491px;
  left: 102px;
  padding: 29px ;
  gap: 8px;
  border-radius: 20px;
  opacity: 0.8px;
  background: #F3F4F5;
}

.timePicker{
  position: relative;
  bottom: 10px;
  border: none;
  background: transparent;
}

.Detailsimage{
  width: 250px;
  height: 104px;
  border-radius: 6.73px;
  object-fit: cover;
  object-fit: center;
}

.planDetailsTime{
font-size: 24px;
font-weight: 700;
line-height: 40px;
color: #130C2A;
}

.planTime{
font-size: 18px;
font-weight: 400;
line-height: 24px;
}

.budgeting{
font-size: 32px;
font-weight: 900;
line-height: 40px;
color: #130C2A;
}

.budgetingInfo{
  width: 400px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 29px;
gap: 8px;
border-radius: 20px ;
opacity: 0.8px;
background: #F3F4F5;
}

.budgetingBTN{
  width: 149px;
height: 36px;
padding: 8px 12px;
border-radius: 15px ;
background: #5D3BE9;
border: none;
color: #FFFFFF;
font-size: 16px;
font-weight: 700;
line-height: 16px;
}

#amount{
font-size: 24px;
font-weight: 500;
line-height: 32px;
color: #130C2A;
}

#amountEdit{
  font-family: Satoshi;
font-size: 16px;
font-weight: 700;
line-height: 16px;
color: #130C2A;
}

.Detailexpenses{
  width: 715px;
height:82px;
gap: 8px;
border-radius: 20px;
opacity: 0.8px;
}

.expensesInfo{
  display: flex;
  justify-content: space-between;
}

.expensesInfo p{
font-size: 16px;
font-weight: 400;
line-height: 16px;
color: #130C2A;
}

.expenses h5{
font-size: 24px;
font-weight: 700;
line-height: 40px;
color: #130C2A;
}

.delete{
  width: 128px;
height: 36px;
padding: 8px 12px;
border-radius: 15px;
background: #5D3BE9;
color: #FFFFFF;
border: none;
margin-bottom: 30px;
font-size: 16px;
font-weight: 700;
line-height: 16px;
}

.googleMap{
  border-radius: 24px 0px 0px 0px;
  margin-top: 60px;
}