.container {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 102px 100px;
    background-color: #D4DFF7;
}

.hero-video {
    width: 734px;
    border-radius: 0 1000px 1000px 0;
}

.video {
    width: 100%;
    border-radius: 0 1000px 1000px 0;
    margin: 0;
}

.hero-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 544px;
}

.hero-text > h2 {
    font-family: 'Satoshi';
    font-size: 48px;
    line-height: 56px;
    color: #130C2A;
    text-align: justify;
    margin: 0;
}

.stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 450px;
    column-gap: 48px;
    row-gap: 24px;
}

.stat {
    border: 1px solid #5D3BE980;
    border-radius: 8px;
    width: 201px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stat > h3, .stat > p {
    margin: 0;
}

.stat > h3 {
    font-size: 24px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        padding: 100px 0;
        justify-content: center;
    }
    
    .hero-content {
        flex-direction: column-reverse;
        gap: 2rem;
        width: 345px;
    }

    .hero-content > img {
        width: 345px;
    }

    .hero-text {
        width: 335px;
        gap: 48px;
    }

    .hero-text > h2 {
        font-size: 28px;
        width: 335px;
        text-align: center;
        margin: 0;
        line-height: 36px;
    }

    .stats-container {
        width: 335px;
        height: 184px;
        column-gap: 12px;
        row-gap: 24px;
    }

    .stat {
        width: 159px;
    }

    .stat > p {
        font-size: 12px;
        line-height: 24px;
    }

    .video, .hero-video {
        width: 100%;
    }
}