.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "satoshi";
  margin-top: 1rem;
}

.homeCards {
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.explore2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  border: 2px solid red;
}

.explore2 > p {
  font-size: 48px;
  font-weight: 700;
  font-family: 'Satoshi';
  line-height: 56px;
  margin: 0;
  border: 1px solid red;
}

.exploreBTN{
  width: 113px;
height: 52px;
padding: 16px 24px;
gap: 0px;
border-radius: 8px;
border: 1px;
border: 1px solid #5D3BE9;
color: #4759FF;
font-size: 16px;
font-weight: 700;
line-height: 20px;
text-align: left;
margin-top: 30px;
}

@media screen and (max-width: 600px) {
  .homeCards {
    display: grid;
    grid-template-columns: 1fr;
  }

  .explore2 {
    flex-direction: column;
    justify-content: center;
  }

  .explore2 > p {
    font-size: 32px;
    margin: 0;
    line-height: 39px;
    text-align: center;
  }
}