body {
    font-family: 'Satoshi', sans-serif;
}

.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid red;
}

.nav {
    display: flex;
    align-items: center;
    width: 1188px;
    padding: 0 26px;
    border: 2px solid green;
}

.left-section {
    width: 94px;
    display: flex;
    justify-content: space-between;
}

.left-section > span {
    width: 1px;
    align-self: stretch;
    background-color: #666;
}

.middle-section {
    width: 881px;
    display: flex;
    gap: 68px;
    border: 2px solid black;
}

.middle-section > ul {
    display: flex;
    gap: 16px;
}

.links > li {
    list-style-type: none;
}

.links > li a {
    color: black;
    text-decoration: none;
}

.search-bar > input {
    width: 165px;
    height: 24px;
    border-radius: 8px;
    border: 1px solid #000;
    opacity: 0.5;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar > input::placeholder {
    text-align: center;
}