.container {
  width: 100%;
  height: 100px;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  background-color: white;
}

.nav {
  display: flex;
  align-items: center;
}

.left-section {
  width: 94px;
  display: flex;
  align-items: center;
  gap: 34px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #666;
}

.middle-section {
  width: 881px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
}

.middle-section > ul {
  display: flex;
  margin-left: 2.5rem;
  gap: 30px;
}

.links > li {
  list-style-type: none;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  letter-spacing: 1.25px;
}

.links > li a {
  text-decoration: none;
  color: #130c2a;
  padding-bottom: 15px;
  display: inline-block;
}

.links > li a:hover {
  border-bottom: 2px solid #5d3be9;
}

.links > li a.active {
  color: #5d3be9;
  border-bottom: 2px solid #5d3be9;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.search-bar > input {
  width: 200px;
  height: 44px;
  border-radius: 8px;
  border: 1px solid #000;
  opacity: 0.5;
  padding: 8px 12px 8px 48px;
  box-sizing: border-box;
}

.search-bar > input::placeholder {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  text-align: end;
  color: #130c2a;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.search-icon-button {
  position: absolute;
  left: 12px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  color: rgba(19, 12, 42, 1);
  opacity: 0.5;
}

.search-icon {
  height: 16px;
}

.onboard {
  display: flex;
  align-items: center;
}

.logIn-btn {
  margin-left: 34px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 14px;
  font-family: "Satoshi", sans-serif;
  color: #5d3be9;
  font-weight: 700;
  font-size: 16px;
  width: 92px;
}

.signUp-btn {
  background-color: #5d3be9;
  border: none;
  width: 92px;
  height: 36px;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  font-family: "Satoshi", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 10px;
}

.togglemenu {
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
}

.nav-links {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: white;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  z-index: 9999;
}

.nav-links.active {
  display: flex;
}

.nav-links li {
  margin: 10px 0;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #130c2a;
  font-family: "Satoshi", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.TlogIn-btn,
.TsignUp-btn {
  cursor: pointer;
  margin-right: 14px;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 92px;
  height: 36px;
  border-radius: 8px;
}

.TlogIn-btn {
  background: none;
  color: #5d3be9;
  border: 1px solid #5d3be9;
}

.TsignUp-btn {
  background-color: #5d3be9;
  color: rgba(255, 255, 255, 1);
  border: none;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
    padding: 0;
  }

  .nav {
    width: 100%;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .middle-section {
    display: none;
  }

  .divider,
  .signUp-btn,
  .logIn-btn {
    display: none;
  }

  .togglemenu {
    display: flex;
  }

  .nav-links {
    left: 0;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links > li a.active {
    color: #5d3be9;
    border-bottom: 2px solid #5d3be9;
  }
}

@media screen and (max-width: 915px) {
  .nav {
    justify-content: space-between;
  }

  .middle-section {
    display: none;
  }

  .divider,
  .signUp-btn,
  .logIn-btn {
    display: none;
  }

  .togglemenu {
    display: flex;
  }

  .nav-links {
    width: 100%;
  }

  .nav-links > li a.active {
    color: #5d3be9;
    border-bottom: 2px solid #5d3be9;
  }
}
