.container {
  display: flex;
  flex-direction: column;
  gap: 56px;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 102px;
}

.title > p {
  font-family: "Satoshi";
  margin: 0;
}

.title > p:first-child {
  color: #5d3be9;
  font-size: 20px;
  font-weight: 500;
  line-height: 56px;
}

.title > p:last-child {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 83px;
}

.left_section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.circle {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #5d3be9;
  font-size: 24px;
  line-height: 30px;
}

.line {
  width: 2px;
  height: 123px;
  background-color: #5d3be9;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  box-sizing: border-box;
  width: 438px;
  height: 144px;
  padding: 32px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 8px;
}

.Cardicon {
  width: 80px;
  height: 80px;
  background-color: #5d3be9;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.react_icon {
  width: 24px;
  height: 24px;
}

.cardText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardText > p:first-child {
  font-family: "Satoshi";
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #130c2a;
}

.cardText > p:last-child {
  width: 238px;
  font-family: "Satoshi";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #130c2a;
}

.right_section {
  display: flex;
  flex-direction: column;
  gap: 68px;
}

.rightUp {
  display: flex;
  gap: 68px;
}

.features-section {
    padding: 40px;
    padding-bottom: 133px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #ffffff;
    position: relative;
}

/* .features-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 50%;
    gap: 20px; 
} */

.features-text {
    max-width: 500px;
    
}

.features-text h3 {
    font-size: 18px;
    color: #6b6b6b;
    margin-bottom: 10px;
}

.features-text h2 
.rightdown {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    gap: 16px;
  }

  .timeline {
    display: none;
  }

  .title > p {
    width: 100%;
    margin: 0;
  }

  .title > p:first-child {
    color: #5d3be9;
    font-size: 20px;
    font-weight: 500;
    line-height: 56px;
  }

  .title > p:last-child {
    width: 342px;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }

  .main {
    flex-direction: column;
    gap: 16px;
  }

  .cards,
  .card {
    width: 342px;
  }

  .card {
    padding: 32px;
    width: 342px;
    box-sizing: border-box;
    gap: 32px;
  }

  .cardtext > p {
    margin: 0;
  }

.features-images {
    display: flex;
    position: relative;  
    width: 50%;
    height: 100%;
    /* border: 6px solid black; */
  
}


.features-images img:first-child {
    left: 0;
    top: 100px;
    z-index: 1;
    width: 320px;
    height: 280px;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
    margin-top: 50px;
}

.features-images img:last-child {
    left: 250px; 
    z-index: 2;
    width: 320px;
    height: 280px;
    border-radius: 16px;
    object-fit: cover;
    position: absolute;
    margin-top: 50px;
  .cardText > p:first-child {
    font-size: 16px;
    line-height: 30px;
  }

  .cardText > p:last-child {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    width: 166px;
  }

  .Cardicon {
    width: 80px;
    height: 80px;
  }

  .right_section {
    gap: 16px;
    align-items: center;
  }

  .rightUp {
    flex-direction: column;
    gap: 16px;
  }

  .rightUp > img,
  .rightdown > img {
    width: 272px;
  }
}
}