.card {
    width: 338px;
    height: 81px;
    border-radius: 19px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.userCard {
    display: flex;
    gap: 31px;
    justify-content: center;
}